<!DOCTYPE html>
<html>
<head>
	<title>Sound Shapers</title>
</head>
<body>
	<h1>Sign in, Loves.</h1>

	<div id="login-form-container">
		<ul class="login"><%= form_for "/" do |f| %>
			<%=f.label :email %>
			<%=f.text_field :email %>
			<%=f.label :password %>
			<%=f.password_field :password %>
			<%=f.submit "Sign In" %>
		</ul>
		<%end%>
	</div>

	<%= link_to 'Sign Up', users_create_path %>
</body>
</html>
