<!DOCTYPE html>
<html>
<head>
	<title>Sound Shapers</title>
</head>
<body>
	<div id="wrapper">
		<div id="welcome-wagon">
			<h1>Sign in, Loves.</h1>
			<div id="login-form-container">
				<ul class="login grid-6-8"><%= form_tag "/" do%>
					<li><%= label_tag :email %></li>
					<li><%= text_field_tag :email, nil, class: "grid-3-8" %></li>
					<li><%= label_tag :password %></li>
					<li><%= password_field_tag :password, nil, class: "grid-3-8" %></li>
					<li><%= submit_tag "Sign In", class: "login-button grid-3-8" %></li>
				</ul>
				<%end%>
			<h2>OR</h2>
				<%= link_to 'Sign Up', users_create_path %>
			</div>
		</div>
	</div>
</body>
</html>
